# Database Configuration
POSTGRES_USER=admin
POSTGRES_PASSWORD=changeme
POSTGRES_DB=smart_home_db
POSTGRES_URL=postgresql://admin:changeme@localhost:5432/smart_home_db?sslmode=disable
MONGO_URI=mongodb://localhost:27017

# Broker & Ports
MQTT_BROKER=tcp://localhost:1883
PORT=8080

# Security (Replace in production!)
JWT_SECRET=your_super_secret_jwt_key_replace_in_production